*{
  font-family: Arial, Helvetica, sans-serif;
}

.title-gifExpert{
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.10em;
  -webkit-text-stroke: 1.5px black;
  color: transparent;
  text-align: left;
  font-size: 45px;
  color: #07c4e6bd;
  }
  
  body{
    
    padding: 10px;
  }

  input{
    color: grey;
    font-size: 1.2rem ;
    width: 100%;

  }
.card-grid{
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
}
.card-grid__item{
align-content: center;
border: 1px solid grey;
border-radius: 6px;
margin-bottom: 30px;
margin-right: 10px;
overflow: hidden;
width: 160px;
  }

  .card-grid__item p {
    font-size: 10px;
    margin: auto;
    padding: 5px;
    text-align: center;  
    }

   .card-grid__item img {
    max-height: 140px;
    max-width: 160px;
    height: 300px;
    width: 300px;
    }

.Footer {
  background-color: transparent;
  color: #0e0d0d;
  height: 50px;
  margin-top: 5px;
  text-align: center;
  width: calc(100% - 2rem);

}

.Footer p{
  color: #0c0b0bce;
  text-align: center;
}

.Footer-socialNetworks{
  height: 30px;
  padding: 5px;
  width: 30px;
}